# LaTeX auxiliary files
*.aux
*.log
*.toc
*.lof
*.lot
*.bbl
*.blg
*.dvi
*.ps

*.synctex.gz
*.out
*.spl
*.ent
*.lox
*.mf
*.end
*.brf
*.glo
*.idx
*.ist
*.acn
*.acr
*.alg
*.maf
*.mtc
*.mtc1
*-gnuplottex-*
*.gaux
*.4ct
*-concordance.tex